.table {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .buscar {
        width: 90%;
        padding: 5px 10px 5px 10px;
    }

    .listado {
        list-style: none;
        width: 90%;
        height: 100%;
        margin: 0;
        padding: 5px 10px 5px 10px;
        li {
            font-size: 0.95rem;
            width: 100%;
            height: 35px;
            border-bottom: solid 1px rgb(224, 224, 224);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding-left: 15px;
            padding-right: 20px;

            div {
                width: 90%;
            }

            span {
                display: none;
                width: 10%;
            }

            &:hover {
                background: lightslategray;
                color: white;
                cursor: pointer;
                font-weight: bolder;
                border-radius: 5px;
                span {
                    display: block;
                    background: lightcoral;
                    border-radius: 10px;
                    padding: 3px 10px;
                }
            }
        }
    }
}